<h1 class="text-center mb-4">Nouvelle tâche</h1>

<form (ngSubmit)="addTask()">
    <!-- Titre -->
    <div class="mb-3">
        <label for="titre" class="form-label">Liste des étapes à réaliser</label>
        <input type="text" id="titre" [(ngModel)]="newTaskTitle" name="titre" class="form-control" required />
    </div>

    <!-- Description -->
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea id="description" [(ngModel)]="newTaskDescription" name="description" class="form-control" rows="3"
            placeholder="Détail de la tâche..."></textarea>
    </div>

    <!-- Date -->
    <div class="mb-3">
        <label for="date" class="form-label">Date</label>
        <input type="date" id="date" [(ngModel)]="newTaskDate" name="date" class="form-control" />
    </div>

    <!-- Checklist -->
    <div class="mb-3">
        <label class="form-label">Ajouter une tâche</label>
        <div class="input-group mb-2">
            <input type="text" class="form-control" [(ngModel)]="newItemLabel" placeholder="Nouvelle tâche"
                name="item" />
            <button class="btn btn-outline-secondary" type="button" (click)="addChecklistItem()">Ajouter</button>
        </div>
        <ul class="list-group">
            <li *ngFor="let item of checklist; let i = index"
                class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <input type="checkbox" [(ngModel)]="item.checked" name="check{{ i }}" />
                    {{ item.label }}
                </div>
                <button class="btn btn-sm btn-outline-danger" (click)="removeChecklistItem(i)">Supprimer</button>
            </li>
        </ul>
    </div>

    <!-- Bouton -->
    <button type="submit" class="btn btn-primary w-100">Ajouter la tâche</button>
</form>