<div class="auth-container">
    <h2>Connexion</h2>

    <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label>Email</label>
            <input [(ngModel)]="email" name="email" type="email" required class="form-control" />
        </div>

        <div class="mb-3">
            <label>Mot de passe</label>
            <input [(ngModel)]="password" name="password" type="password" required class="form-control" />
        </div>

        <button type="submit">Se connecter</button>
    </form>

    <p class="text-danger">{{ message }}</p>
</div>