<app-alert [message]="alertMessage" [type]="alertType"></app-alert>


<div class="text-end mb-3">
    <button class="btn btn-outline-dark" (click)="printTasks()">
        Imprimer / Exporter
    </button>
</div>



<div class="btn-group mb-3">
    <button class="btn btn-outline-secondary" [class.active]="filter === 'all'"
        (click)="filter = 'all'; applyFilter()">Toutes</button>
    <button class="btn btn-outline-secondary" [class.active]="filter === 'undone'"
        (click)="filter = 'undone'; applyFilter()">À faire</button>
    <button class="btn btn-outline-secondary" [class.active]="filter === 'done'"
        (click)="filter = 'done'; applyFilter()">Terminées</button>
</div>


<ul class="list-group mt-3">
    <li *ngFor="let task of tasks" class="list-group-item d-flex justify-content-between align-items-center">

        <div class="flex-grow-1">
            <span class="fw-bold" [class.text-decoration-line-through]="task.faite" (click)="toggleDone(task)"
                style="cursor: pointer">
                {{ task.titre }}
            </span>
            <br>
            <small class="text-muted">{{ task.description || 'Aucune description' }}</small>
        </div>

        <div>
            <button class="btn btn-outline-success btn-sm me-2" (click)="toggleDone(task)">
                {{ task.faite ? 'Annuler' : 'Terminer' }}
            </button>
            <button class="btn btn-outline-danger btn-sm me-2" (click)="deleteTask(task.id)">
                Supprimer
            </button>
            <button class="btn btn-outline-primary btn-sm" [routerLink]="['/taches/edit', task.id]">
                Modifier
            </button>
        </div>

    </li>
</ul>