<div class="container mt-4">
    <h2 class="mb-3">Gestion des utilisateurs</h2>

    <table class="table table-bordered table-hover">
        <thead class="table-light">
            <tr>
                <th>Email</th>
                <th>Rôle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.email }}</td>
                <td>
                    <span class="badge" [ngClass]="{
              'bg-secondary': user.role === 'user',
              'bg-danger': user.role === 'admin'
            }">
                        {{ user.role }}
                    </span>
                </td>
                <td>
                    <button class="btn btn-sm btn-outline-danger me-2" (click)="delete(user.email)"
                        [disabled]="user.email === getCurrentUser()">
                        Supprimer
                    </button>

                    <button class="btn btn-sm btn-outline-success" (click)="promote(user.email)"
                        [disabled]="user.role === 'admin'">
                        Promouvoir en admin
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>